.sidebar-icon {
    width: 40px;
    height: 25px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #7f7f7f;
    border: 1px solid #ddd;
}